{% extends 'base.html' %}

{% block title %}
{{ page.title|striptags|e }} {%if page.subtitle %} - {{ page.subtitle|striptags|e }} {% endif %} · {{ super() }}
{% endblock title %}

{% block head_description %}
{% if page.summary %}
{{ page.summary|striptags|e }}
{% endif %}
{% endblock head_description %}

{% block meta_tags_in_head %}
{{ super() }}
{% if page.keywords %}
<meta name="keywords" content="{{ page.keywords }}" />
{% endif %}

{% from '_includes/smo_metadata.html' import smo_metadata with context %}
{{ smo_metadata(page) }}
{% endblock meta_tags_in_head %}

{% block body_tag %}
{% if page.toc %}
<body data-spy="scroll" data-target="#toc-container">
{% else %}
<body>
{% endif %}
{% endblock body_tag %}

{% block content %}
<article>

<div class="row">
    {% if page.toc %}
    <div class="col-md-2 table-of-content" role="complementary">
        <nav class="hidden-print hidden-xs hidden-sm" id="toc-container">
        {{ page.toc }}
        </nav>
    </div>
    <div class="col-md-10 article-content">
        {% else %}
        <div class="col-md-10 col-md-offset-2 article-content">
            {% endif %}
            <header class="page-header">
            <h1><a href="{{ SITEURL }}/{{ page.url }}"> {{ page.title }} {%if page.subtitle %} <small> {{ page.subtitle }} </small> {% endif %} </a></h1>
            </header>

            {{ page.content }}
            {% from '_includes/comments.html' import comments with context %}
            {{ comments(page) }}
        </div>
    </div>
    </article>
    {% endblock content %}

    {% block script %}
    {{ super() }}
    {% from '_includes/comments.html' import comments_script with context %}
    {{ comments_script(page) }}
    {% if page.toc %}
    <script type="text/javascript">
    $(function() {
        $('#toc-container ul').addClass('nav');
        $('#toc-container').affix({
            offset: {
                top: 50,
                bottom: function() {
                    return (this.bottom = $('#footer').outerHeight(true));
                }
            }
        });
    });
    </script>
    {% endif %}
    {% endblock script %}
